@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --brand: 26, 21%, 13%;
        --orange-light: 36, 100%, 50%;
        --orange-dark: 36, 100%, 17%;
        --passenger: 97, 56%, 84%;
        --passagier: 97, 56%, 84%;
        --employer: 188, 56%, 92%;
        --werkgever: 188, 56%, 92%;
        --ticket-vendor: 13, 58%, 94%;
        --ticketverkoper: 13, 58%, 94%;
        --article: 97, 56%, 84%;
        --artikel: 97, 56%, 84%;
        --about-us: var(--passenger);
        --over-us: var(--passenger);
        --ticket-progress: 97, 56%, 84%;
        --compensation-height: 215px;
        --bg-passenger: 97, 56%, 84%;
        --bg-employer: 188, 56%, 92%;
        --bg-ticket-vendor: 13, 58%, 94%;
        --avatar-border: 102, 51%, 82%;
    }

    .theme-passenger {
        --color-text-base: 101, 69%, 9%;
        --color-text-secondary: 127, 31%, 44%;
        --color-gradient: 97, 56%, 84%;
    }

    .theme-employer {
        --color-text-base: 101, 69%, 9%;
        --color-text-secondary: 186, 41%, 30%;
        --color-gradient: 188, 56%, 92%;
    }

    .theme-ticket-vendor {
        --color-text-base: 12, 69%, 22%;
        --color-text-secondary: 12, 44%, 42%;
        --color-gradient: 13, 61%, 94%;
    }

    @font-face {
        font-family: "Mulish";
        src: url("/fonts/1Ptvg83HX_SGhgqk3wot.woff2") format("woff2");
        font-display: swap;
        font-weight: 200 1000;
    }

    @font-face {
        font-family: "Open Sans";
        src: url("/fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2") format("woff2");
        font-display: swap;
        font-weight: 300 800;
    }

    .loader {
        display: none;
    }

    .htmx-request .loader {
        display: inline;
    }

    .htmx-request.loader {
        display: inline;
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .z-text-content p {
        @apply mb-6; 
    }

    main a {
        --tw-text-opacity: 1;
        color: #FF9900;
    }

    .stylish-marker {
        background: linear-gradient(
            100deg,
            rgba(255, 221, 64, 0) 0.9%,
            rgba(255, 221, 64, 1) 2.4%,
            rgba(255, 221, 64, 0.5) 5.8%,
            rgba(255, 221, 64, 0.1) 93%,
            rgba(255, 221, 64, 0.7) 96%,
            rgba(255, 221, 64, 0) 98%
          ),
          linear-gradient(
            180deg,
            rgba(255, 221, 64, 0) 0%,
            rgba(255, 221, 64, 0.3) 7.9%,
            rgba(255, 221, 64, 0) 15%
          );
        border-radius: 0.125em;
        box-decoration-break: clone;
        padding: 0.125em 0.25em;
      }

    .content h1,
    .content h2 {
        font-weight: 700;
        font-size: 20px;
    }
    .content h2 {
        margin-top: 56px;
    }
    .content p {
        font-family: "Open Sans", sans-serif;
        line-height: 1.9;
        margin-bottom: 10px;
    }

    .content ul {
        list-style-type: disc;
        padding-left: 30px
    }

    .brightness-25 {
        filter: brightness(25%);
    }
}